[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
heroku = "*"
pytest-django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest = "*"
codecov = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
